

<div class="card post-items">
    <div class="card-image post_item col-md-4">
        <img src="{{thumbnailUrl}}" title="{{name}}">
    </div>
    <div class="post-content col-md-8">
        <h4><a href="{{url}}" title="{{name}}">{{name}}</a></h4>
        <div class="desc">
            <span class="desc-time"> 

                <i class="material-icons">access_time</i> {{TimePost}}
            </span>

        </div>
    </div>

</div>
