@{ 
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nạp thẻ giá rẻ - Nạp thẻ cào với giá rẻ nhất,mức chiết khấu ưu rẻ nhất</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/simplePagination.min.css" rel="stylesheet" />
    <link href="~/lib/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>
<body>
  
    <div class="wrap-content container center" style="">
        <div class="col s12 m9 l12">
            <div id="introduction" class="section scrollspy">
                <p>Xin lỗi bạn không có quyền truy cập vào đây! </p>

            </div>
            <a class="waves-effect waves-light btn-small" href="/"><i class="material-icons left">arrow_back</i>Quay lại</a>
        </div>
        </div>

</body>
</html>
