<div class="containter col-md-12">
   
    <div class="card" style="margin:10px 20%">
        <div class="card-header">
            <h5>@ViewBag.Message</h5>
        </div>
        <div class="card-body" style="background: rgba(69, 132, 177, 0.0784313725490196);min-height: 236px;">
            <div class="col-md-12">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong style="font-weight:700">Xác thực email thành công! Hãy đăng nhập để tiếp tục</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <br />

                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="row">

                            <img src="~/images/green-tick-clipart-animation-627696-3105204.gif" alt="Success" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
</div>