<div class="header">
    <h3 id="roomHeader">Tạo mới Thông tin thẻ cào</h3>
</div>
<div class="body">
    <form role="form" id="frmAddNew">
        <input type="hidden" id="txtId">
        <div class="form-group">
            <div class="form-line">
                <label for="Name">Chọn loại thẻ cào</label>
                <input type="text" class="form-control" name="Name" id="txtName">
                <span class="validate"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <input type="button"  value="Chọn hình" class="btn btn-primary UploadModal" />
            </div>
            <div class="form-inline">
                <img src="" id="txtImage" name="Image" class="Image" style="margin-top:20px" width="100" />
            </div>

        </div>
    
        <div class="form-group">
            <div class="demo-switch-title">Trạng thái</div>
            <div class="switch">
                <label><input type="checkbox" id="txtStatus" checked><span class="lever switch-col-lime"></span></label>
            </div>
        </div>
    </form>

    <div class="form-group">

        <button type="button" class="btn btn-secondary waves-effect" id="btnCancle" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary waves-effect" id="btnAdd">Tạo mới</button>
    </div>
</div>