<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year</strong><br /><i>Deverlop by Hung |</i><i>Technology by .Net Core 2.1</i>
</footer>