@model IEnumerable<WebTheCao.ViewModels.ChartCardViewModel>
@* Biểu đồ số lượng thẻ cào qua từng nhà mạng *@
<div class="card">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title">Biểu đồ nộp thẻ hôm nay</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn bg-teal btn-sm" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn bg-teal btn-sm" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body border-radius-none">
                    <canvas id="colChartCardCount" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
