<div class="col-md-3">
    <a href="compose.html" class="btn btn-primary btn-block margin-bottom">Trả lời thư</a>
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Hộp thư</h3>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="mailbox">
                        <i class="fa fa-inbox"></i> Thư phản hồi

                    </a>
                </li>
                <li><a href="/admin/feedback/mailbox?opt=news-message"><i class="fa fa-envelope-o"></i> Thư mới  <span class="inboxCount"></span></a></li>
                <li><a href="/admin/feedback/mailbox?opt=sends-message"><i class="fa fa-envelope"></i> Thư đã gởi</a></li>
                <li><a href="/admin/feedback/mailbox?opt=waits-message"><i class="fa fa-file-text-o"></i> Đang chờ <span class="isWaitingCount"></span></a></li>
              
            </ul>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /. box -->
   
    <!-- /.box -->
</div>